        <footer class="footer no-print flex-none js-page-footer">
        	<ul class="list-inline text-center footer-row">
        		<li><a class="footer-link" href="https://osu.ppy.sh/forum/t/391380" target="_blank">Forum Post</a></li>
        		<li><a class="footer-link" href="javascript:(0);" target="_blank">Empty</a></li>
        		<li><a class="footer-link" href="javascript:(0);" target="_blank">Empty</a></li>
        		<li><a class="footer-link" href="javascript:(0);" target="_blank">Empty</a></li>
        	</ul>
        	<p class="footer-row">website made by <a href="https://osu.ppy.sh/u/IOException" target="_blank">IOException</a></p>
        </footer>
    </body>
</html>

<!-- <%- JSON.stringify(page) %> -->