#teamname {
	outline: none;
	border-radius: 5px;
	padding: 5px;
}

#teamname:hover {
	border: 1px solid #ffb3d5;
}

#teamname:focus {
	border: 1px solid #ff66aa;
}

.nav-logo {
	background-image: url(/images/logo.png) !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}