<% include ../includes/header %>

<div class="osu-layout__section osu-layout__section--full js-content community_forum-forums-index">
	<div id="forum-index-header" class="osu-layout__row osu-layout__row--page">
		<div class="text-area">
			<div class="text">
				<h2>welcome</h2>
				<h1>pls enjoy tournament</h1>
			</div>
		</div>
	</div>
	<div class="hidden-xs osu-layout__row osu-layout__row--lg2">
		<div class="pippy"></div>
	</div>
	<div class="osu-layout__row">
		<div id="forum-1" class="forum-category col-sm-12 forum-colour category-osu">
			<div class="row forum-category-header forum-colour__bg--category-osu">
				<div class="forum-category-header__name">General Information</div>
				<div class="forum-category-header__description">Welcome!</div>
			</div>
			<div class="forums osu-layout__sub-row">
				<div class="row">
					<div class="col-md-12">
						<p>Welcome to <b>pls enjoy tournament</b>! This is the official site for the tournament. Please check this site regularly during the competition, as updates, mappool, and rankings will all be posted here. You may also reference <a href="https://docs.google.com/document/d/1UkOqUm2Q1tkKV3v9cCRE-GludaWwf9_GuegeZw4FZF8/edit" target="_blank">this Google doc</a> for information.</p>
						<p>Registration for this tournament will take place on this site, rather than through the forum. The registration form will open on <b>December 13</b>.</p>
						<div class="page-header">
							<h4>Updates</h4>
						</div>
						<ul>
							<div class="alert alert-info"><i class="fa fa-fw fa-info-circle"></i> Registration is closed.</div>
						</ul>
						<div class="page-header">
							<h4>Dates</h4>
						</div>
						<ul>
							<li>Registration: <b>December 13</b> to <b>December 27</b></li>
							<li>Group Stage: weekends of <b>January 2</b> and <b>January 9</b></li>
							<li>Round of 8 (Quarterfinals): weekend of <b>January 16</b></li>
							<li>Round of 4 (Semifinals): weekend of <b>January 23</b></li>
							<li>Round of 2 (Finals): weekend of <b>January 30</b></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="forum-2" class="forum-category col-sm-12 forum-colour category-beatmaps">
			<div class="row forum-category-header forum-colour__bg--category-beatmaps">
				<div class="forum-category-header__name">Format</div>
				<div class="forum-category-header__description">Logistics about the competition.</div>
			</div>
			<div class="forums osu-layout__sub-row">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-info">
							<i class="fa fa-fw fa-info-circle"></i> Max teams has been increased from 16 to 32.
						</div>
						<ul>
							<li>The format of the tournament is <b>2 vs. 2 teams</b>.</li>
							<li>Teams will register with <b>at most 3 members</b>, allowing for <b>1 substitute</b> per team.</li>
							<li>There are a maximum of <b>32 teams</b> that can participate in the tournament.</li>
							<li>The tournament will comprise of a <b>group stage</b> and a <b>double elimination</b> round.</li>
							<li>In the <i>double elimination</i> round, the lowest-scoring player of each map will be eliminated.</li>
							<li>Matches will use <b>score v1</b>, instead of the new scoring system.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="forum-3" class="forum-category col-sm-12 forum-colour category-other">
			<div class="row forum-category-header forum-colour__bg--category-other">
				<div class="forum-category-header__name">Rules</div>
				<div class="forum-category-header__description">Rules of the game.</div>
			</div>
			<div class="forums osu-layout__sub-row">
				<div class="row">
					<div class="col-md-12">
						<ul>
							<li>Your rank must be <b>between 1,000 and 20,000</b> to register. You rank must remain <b>between 900 and 21,000</b> to continue playing in the tournament.</li>
							<li>A player failing a map has the opportunity to revive and his/her score will not be invalidated. However, a team fail will count as a loss.</li>
							<li>If a team fails, then the player with the lowest score on the failing team will lose a life.</li>
							<li>Room will be ready 10 minutes before the scheduled time.</li>
							<li><b>If more than one player arrives later than 15 min. after the match was supposed to begin, the late team automatically forfeits.</b></li>
							<li>If a player, for whatever reason, disconnects during a match, that team can ask for a rematch once per match if only the match is affected significantly (as in, the disconnection was the deciding factor), and the other team has the choice of accepting or refusing the request.</li>
							<li>Any non-accidental disconnections will result in a team ban from the tournament.</li>
						</ul>
						<h4>Group Stage</h4>
						<ul>
							<li>Highest score wins.</li>
							<li>Best of 5.</li>
							<li>Tiebreaker when both teams are at match point.</li>
							<li>Ties in group stage will be resolved by number of maps won, if that fails then the tied teams will play the tiebraker map in a best of 1.</li>
						</ul>
						<h4>Double Elimination</h4>
						<ul>
							<li>At the end of each map, the player on <b>either side</b> with the LOWEST score will lose a life; this is the Last Man Standing concept - if a player is out of lives, they are considered out of the round, and their score will no longer be counted for the rest of the match (they can choose whether to stay in the MP room or not).</li>
							<li>The tiebreaker map will be played if both teams have a total of one life each, and <b>team score will matter regardless of lives (team with the highest collective score wins).</b></li>
						</ul>
						<h4>Quarterfinals</h4>
						<ul>
							<li><b>Best of 7 (Each player starts with 2 lives each).</b></li>
						</ul>
						<div class="page-header">
							<h4>Semifinals & Grandfinals</h4>
						</div>
						<ul>
							<li><b>Best of 9 (One slot from each team will receive 3 lives, while the other slot still has 2).</b></li>
						</ul>
						<div class="page-header">
							<h4>The Match</h4>
						</div>
						<ul>
							<li>One member of each team will !roll, and the one with the higher number can choose either to ban first or second.</li>
							<li>Each team alternates banning maps until there are a total of 4 banned maps (each team has a total of <b>2</b> banned maps).</li>
							<li>Tiebreaker cannot be banned.</li>
							<li>The higher rolling team gets to pick the first warm-up map <b>and</b> the first actual map.</li>
							<li>Warm-up maps must be less than <b>5:30</b></li>
						</ul>
						<h5>Substitutions</h5>
						<ul>
							<li>If a team wishes to substitute a player, the substitute does not get a new stock of full lives but receives the number of lives held by the player subbed out for the substitute.</li>
							<li>There is to be only one substitution per map.</li>
							<li>Two active players can not substitute for one another.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="forum-2" class="forum-category col-sm-12 forum-colour category-language-specific">
			<div class="row forum-category-header forum-colour__bg--category-language-specific">
				<div class="forum-category-header__name">Map Pool</div>
				<div class="forum-category-header__description">The maps you have to play.</div>
			</div>
			<div class="forums osu-layout__sub-row">
				<div class="row">
					<div class="col-md-12">
						<p>The first map pool for the group stage will be released at the end of the registration phase. Each subsequent map pool will be released at the end of a complete round; for example, the semifinals mappool will be released right after the quarterfinals are completed.</p>
						<div class="page-header">
							<h4>Group Stage & Quarterfinals</h4>
						</div>
						<ul>
							<li>6 No Mod maps.</li>
							<li>3 Hidden maps.</li>
							<li>3 Hard Rock maps.</li>
							<li>3 Double Time maps.</li>
							<li>1 Tiebreaker map.</li>
						</ul>
						<div class="page-header">
							<h4>Semifinals & Grandfinals</h4>
						</div>
						<ul>
							<li>8 No Mod maps.</li>
							<li>4 Hidden maps.</li>
							<li>4 Hard Rock maps.</li>
							<li>4 Double Time maps.</li>
							<li>1 Tiebreaker map.</li>
						</ul>
						<br>
						<p><b>For a FreeMod pick, at least one person on each team must have any combination of <span style='color:#FDD835'>HD</span>, <span style='color:#F44336'>HR</span>, or <span style='color:#9E9E9E'>FL</span> enabled for the map. For Double Time picks, the usage of the Nightcore mod instead is allowed if both teams give consent. Usage of FreeMod-allowed mods will also be allowed on the tiebreaker.</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../includes/footer %>